DirectoryIndex index.php
RewriteEngine On
# All PHP files can be accessed with HTML ending. Looks better in search engines
RewriteRule ^(.*).html$ $1.php
# JS and CSS files are parsed to enable translations
RewriteRule ^(static/css|static/js)(.*)$ static.php [L]