/*
The MIT License

Copyright 2014 Ronny Hildebrandt <ronny.hildebrandt@avorium.de>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : 09.12.2014, 14:17:49
    Author     : Ronny Hildebrandt <ronny.hildebrandt@avorium.de>
*/

* { margin:0;padding:0;box-sizing: border-box; }
html { font-family:sans-serif;background-color:#222; }

div.photolist > div { float:left; }
div.photolist > div > img { display: block; }
div.photolist:after { content:''; clear:both; }

div.photouploadprogress { border:1px solid #000; background-color:#ccc;border-radius: 5px; }
div.photouploadprogress > div { height:10px;width:0;background-color:#0c0;border-radius: 5px; }

form.simple { background-color: #fff;width: 500px;margin: 20px auto;padding:0;border:1px solid #000; }
form.simple h1 { background-color:#333;color:#ddd;margin:0;padding:10px;border-bottom:1px solid #000; }
form.simple div { padding:10px; }
form.simple p { margin: 5px 0; }
form.simple label { display: inline-block;width:150px;color:#888;font-size:0.9em; }
form.simple input[type="text"], form.simple input[type="email"], form.simple input[type="password"] { display:inline-block;padding:3px; width:320px;margin:5px 0; }
form.simple input[type="submit"] { padding:3px 10px;margin:5px 0 5px 154px; }

p.notification { border:1px solid #888;background-color:#ccc;color:#888;padding:3px; }
p.error { color:#800; background-color:#fcc;border-color:#800; }
p.success { color:#080; background-color:#cfc;border-color:#080; }
p.info { color:#008; background-color:#ccf;border-color:#008; }


@media (max-width:480px) {
	form.simple { width:100%;margin:0;border:none; }
	form.simple h1 { font-size:24px; }
	form.simple div { padding:10px; }
	form.simple label { display:block;font-size:12px;margin-top:10px; }
	form.simple input[type="text"], form.simple input[type="email"], form.simple input[type="password"] { display:block;padding:3px;margin:5px 0;width:100%;font-size:14px; }
	form.simple input[type="submit"] { padding:5px 15px;margin:10px 0;font-size:18px; }
}
